body {
    padding: 0px;
    margin: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 34, 34);
    flex-direction: column;
}

.inicio {
    display: grid;
    border-radius: 48%;
    background-color: rgba(70, 69, 69, 0.479);
}

.controles {
    margin-top: 20px;
    background-color: transparent;
}

.pause , .reiniciar {
    background-color: transparent;
    color: #224242;
    border: 1px solid #224242;
    border-radius: 8px;
}

.timer {
    background-color: none;
    padding: 60px;
    color: #2e5858;

}

.inputs {
    margin-top: 20px;
} 

.tempo-timer {
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid #224242;
    color: aliceblue;
}
.tempo-timer:hover {
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid #356e6e;
}



.botao-adicionar {
    border-radius: 10px;
    background-color: #52c7c783;
    border: 1px solid #224242;
    color: aliceblue;
}

.botao-adicionar:hover {
    background-color: #33dfdf83;
    border: 1px solid #396868;
}